extends layout

block content
  div.d-flex.flex-column.mx-auto(style="max-width: 500px")
    h1.my-3.w-50.text-white.text-center(style="background-color: #333") Home
    div.w-100(style="background-image: url('https://picsum.photos/id/1070/600/600'); background-size: cover; background-position: center; height: 300px")
    div.d-flex.flex-row.mt-3.justify-content-between
      div.d-flex.flex-column.align-items-center(style="width: 80px")
        div.d-flex.justify-content-center.align-items-center.rounded-circle.mb-2(style="width: 50px; height: 50px; background-color: #333;")
          img(src="/images/half-diamond.svg" height=32 width=32)
        div.text-center(style="font-size: 80%; background-color: #333; color: white; width: 84px") Recent
      div.d-flex.flex-column.align-items-center(style="width: 80px")
        div.d-flex.justify-content-center.align-items-center.rounded-circle.mb-2(style="width: 50px; height: 50px; background-color: #333;")
          img(src="/images/half-diamond.svg" height=32 width=32)
        div.text-center(style="font-size: 80%; background-color: #333; color: white; width: 84px") Most Played
      div.d-flex.flex-column.align-items-center(style="width: 80px")
        div.d-flex.justify-content-center.align-items-center.rounded-circle.mb-2(style="width: 50px; height: 50px; background-color: #333;")
          img(src="/images/half-diamond.svg" height=32 width=32)
        div.text-center(style="font-size: 80%; background-color: #333; color: white; width: 84px") Last Added
      div.d-flex.flex-column.align-items-center(style="width: 80px")
        div.d-flex.justify-content-center.align-items-center.rounded-circle.mb-2(style="width: 50px; height: 50px; background-color: #333;")
          img(src="/images/half-diamond.svg" height=32 width=32)
        div.text-center(style="font-size: 80%; background-color: #333; color: white; width: 84px") Shuffle
    h2.my-3.w-50.text-white.text-center(style="background-color: #333") Artist News
    div.d-flex.flex-row.p-3(style="background-color: #EEE; margin-bottom: 80px;")
      div.d-flex.flex-column.w-50.mr-1
        h4 Title
        div(style="font-size: 80%") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ipsam dolores? Culpa aliquam minima aliquid ratione suscipit magni expedita fugiat voluptates vero libero doloremque voluptate doloribus, autem cum ipsa harum!
      div.d-flex.flex-column.w-50.justify-content-center.mr-1
        div(style="background-image: url('https://picsum.photos/id/1071/300/300'); background-size: cover; background-position: center; height: 150px")
    div.d-flex.flex-row.pb-2.pt-3.w-100.justify-content-between.mx-auto(style="max-width: 500px; position: fixed; bottom: 0; background-color: #333; color: white")
      div.d-flex.flex-column.align-items-center(style="width: 70px")
        img.mb-1(src="/images/half-diamond.svg" height=32 width=32)
        div(style="font-size: 80%") Home
      div.d-flex.flex-column.align-items-center(style="width: 70px")
        img.mb-1(src="/images/half-diamond.svg" height=32 width=32)
        div(style="font-size: 80%") Artist
      div.d-flex.flex-column.align-items-center(style="width: 70px")
        img.mb-1(src="/images/half-diamond.svg" height=32 width=32)
        div(style="font-size: 80%") Album
      div.d-flex.flex-column.align-items-center(style="width: 70px")
        img.mb-1(src="/images/half-diamond.svg" height=32 width=32)
        div(style="font-size: 80%") Song
      div.d-flex.flex-column.align-items-center(style="width: 70px")
        img.mb-1(src="/images/half-diamond.svg" height=32 width=32)
        div(style="font-size: 80%") Playlist

